{% extends "Fleet/base.html" %}
{% load static %}
{% block title %}Panel użytkownika{% endblock %}

{# W tym szablonie nie nadpisujemy bloku sidebar, dlatego domyślnie wyświetli się panel boczny zdefiniowany w base.html #}

{% block content %}
<div class="user-info p-3 bg-light border rounded">
    <h3>Twój profil</h3>
    <p><strong>Nick:</strong> {{ profile.display_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>

    <button type="button" class="btn btn-warning mt-3" data-bs-toggle="modal" data-bs-target="#editProfileModal">
    Edytuj dane
    </button>
</div>

{% include "Fleet/partials/_edit_user_modal.html" %}


<!--<div class="container mt-4">-->
<!--    &lt;!&ndash; Powitanie użytkownika oraz informacje o koncie &ndash;&gt;-->
<!--    <h2>Cześć, {{ user.username }}!</h2>-->
<!--    <p>Email: {{ user.email }}</p>-->

<!--    &lt;!&ndash; Lista przejazdów użytkownika &ndash;&gt;-->
<!--    <h3>Twoje przejazdy:</h3>-->
<!--    {% if posts %}-->
<!--        <ul>-->
<!--            {% for post in posts %}-->
<!--            <li>-->
<!--                <strong>{{ post.title }}</strong> - {{ post.create_at }}-->
<!--                <p>{{ post.content }}</p>-->
<!--                &lt;!&ndash; Linki do edycji i usuwania &ndash;&gt;-->
<!--                <a href="{% url 'update_post' post.id %}">Edytuj</a> |-->
<!--                <a href="{% url 'delete_post' post.id %}">Usuń</a>-->
<!--            </li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--    {% else %}-->
<!--        <p>Nie dodano żadnych przejazdów.</p>-->
<!--    {% endif %}-->

<!--    &lt;!&ndash; Formularz wylogowania &ndash;&gt;-->
<!--    <form method="post" action="{% url 'logout' %}">-->
<!--        {% csrf_token %}-->
<!--        <button type="submit" class="btn btn-danger">Wyloguj się</button>-->
<!--    </form>-->
<!--</div>-->
{% endblock %}
