{% extends "Fleet/base.html" %}
{% block title %}Dodaj przejazd{% endblock %}

{% block content %}
<!-- Formularz do dodawania nowego przejazdu -->
<form method="POST" class="mt-4">
    {% csrf_token %}

    <!-- Pole formularza do wprowadzenia tytułu posta -->
    <div class="mb-3">
        <label for="id_title" class="form-label">Tytuł posta:</label>
        <input type="text" name="title" id="id_title" class="form-control" required>
    </div>

    <!-- Pole formularza do wprowadzenia treści posta -->
    <div class="mb-3">
        <label for="id_content" class="form-label">Treść posta:</label>
        <textarea name="content" id="id_content" rows="10" cols="50" class="form-control" required></textarea>
    </div>

    <!-- Przycisk do zatwierdzenia formularza -->
    <button type="submit" class="btn btn-primary">Wprowadź przejazd</button>
</form>
{% endblock %}
