{% extends "Fleet/base.html" %}
{% load static %}
{% block title %}Szczegóły przejazdu{% endblock %}

{% block content %}
<h2 class="mt-4">Szczegóły przejazdu</h2>

<!-- MODAL SZCZEGÓŁÓW PRZEJAZDU -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailModalLabel">Szczegóły przejazdu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
      </div>
      <div class="modal-body">
        <p><strong>Tytuł:</strong> <span id="detail-title"></span></p>
        <p><strong>Treść:</strong> <span id="detail-content"></span></p>
        <p><strong>Data utworzenia:</strong> <span id="detail-create_at"></span></p>
        <p><strong>Autor:</strong> <span id="detail-author"></span></p>
        <p><strong>Distance:</strong> <span id="detail-distance"></span></p>
        <p><strong>Start location:</strong> <span id="detail-start_location"></span></p>
        <p><strong>End location:</strong> <span id="detail-end_location"></span></p>
        <p><strong>Travel time:</strong> <span id="detail-travel_time"></span></p>
        <p><strong>Vehicle:</strong> <span id="detail-vehicle"></span></p>
      </div>
      <div class="modal-footer">
          {% if post.author == request.user %}
            <a href="#" id="editLink" class="btn btn-warning" data-id="{{ post.id }}" data-bs-toggle="modal" data-bs-target="#editModal">Edytuj</a>
            <button id="deleteBtn" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ post.id }}">Usuń</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
          {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- MODAL POTWIERDZENIA USUNIĘCIA -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Potwierdzenie usunięcia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Czy na pewno chcesz usunąć ten przejazd?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
        <button id="confirmDeleteBtn" type="button" class="btn btn-danger">Usuń</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL EDYCJI POSTA -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edytuj post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="edit-title" class="form-label">Tytuł posta:</label>
            <input type="text" name="title" id="edit-title" class="form-control">
          </div>
          <div class="mb-3">
            <label for="edit-content" class="form-label">Treść posta:</label>
            <textarea name="content" id="edit-content" rows="5" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
        </form>
      </div>
    </div>
  </div>
</div>

<p style="color: red; font-weight: bold;">TEST: editModal powinien być tutaj!</p>
{% include "Fleet/partials/_edit_modal.html" %}

{% endblock %}
