<!-- Modal Szczegóły Przejazdu -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailModalLabel">Szczegóły przejazdu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p><strong>Tytuł:</strong> <span id="detail-title"></span></p>
        <p><strong>Treść:</strong> <span id="detail-content"></span></p>
        <p><strong>Data utworzenia:</strong> <span id="detail-create_at"></span></p>
        <p><strong>Autor:</strong> <span id="detail-author"></span></p>
      </div>
      <div class="modal-footer">
        <button id="editLink" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal">
          Edytuj
        </button>
        <button id="deleteBtn" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
          Usuń
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>
